html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: none;
    background: rgb(248, 237, 212);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

span {
    color: blue;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    display: none;
}

textarea {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    overflow: hidden;
    resize: none;
    width: 256px;
    height: 356px;
    position: fixed;
    left:15px;
    bottom: 0px;
    font-size: 24px;
    font-family: 'PressStart2PRegular';
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    -webkit-text-stroke: .5px black;
}

/* CSS to style the text area and the fade-out effect */
.fade-in {
    opacity: 1;
    transition: opacity 3.5s ease;
}

.fade-out {
    opacity: 0;
}